@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}

@theme {
  --text-course-details-heading-small: 26px ;
  --text-course-details-heading-large: 36px;
  --text-home-heading-small: 28px;
  --text-home-heading-large: 48px;
  --text-default: 15px;
  
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}